
  <div class="card">
      <div class="card-body">
        <h2>Create An Account</h2>
        <form action="/createAccount" method="POST" id="accountCreate-form">
          
          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Choose a username</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Enter username" autocomplete="off" />
          </div>

          <div class="form-group">
            <label for="name-register" class="text-muted mb-1"><small>Your full name</small></label>
            <input name="name" id="name-register" class="form-control" type="text" placeholder="Enter your full name.[ This name will be shown on your account.]" autocomplete="off" />
          </div>

          <div class="form-group">
            <label for="accountType-register" class="text-muted mb-1"><small>Select your account type</small></label>
            <select id="accountType-register" class="form-control" name="accountType" form="accountCreate-form">
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="you@example.com" autocomplete="off" />
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password" />
          </div>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Sign up Account</button>
        </form>
      </div>
  </div>

