<form class="m-2" action="/changePassword" method="POST" id="update-password-form">
  <div class="form-group">
    <label for="passwordOld-changing" class="text-muted mb-1"><small>Enter old password</small></label>
    <input name="passwordOld" id="passwordOld-changing" class="form-control form-control-lg" type="password" placeholder="Enter your old password" />
  </div>
  <div class="form-group">
    <label for="passwordNew1-changing" class="text-muted mb-1"><small>Enter new password</small></label>
    <input name="passwordNew1" id="passwordNew1-changing" class="form-control form-control-lg" type="password" placeholder="Enter your new password" />
  </div>
  <div class="form-group">
    <label for="passwordNew2-changing" class="text-muted mb-1"><small>Confirm new password</small></label>
    <input name="passwordNew2" id="passwordNew2-changing" class="form-control form-control-lg" type="password" placeholder="Re-enter new password" />
  </div>
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
  <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Submit new password</button>
</form>
