<%- include('includes/header') %>

<div class="row mt-2">
  <div class="col" ></div>
  <div class="col-lg-8 " style="margin-bottom: 2rem;" >
    <div class="signUp-form-container ">   
      <h4 class="bolder text-left">Search home-tutor</h4>
      <form action="/home-tuitor-search-results" method="POST" id="createBatch-form">
       
        <h6><strong class="text-primary"><i class="fas fa-map-marker-alt"></i> Select the area in which you want home-tutors.</strong></h6>
        <div id="address-part">
          <div class="form-group">
            <label for="districtPart" class="text-muted mb-1"><small>Select Your District</small></label>
            <select id="districtPart" class="form-control form-control-lg" name="district" form="createBatch-form">
              <option value="">--Select your district--</option>
              <option value="Darjeeling">Darjeeling</option>
              <option value="Jalpaiguri">Jalpaiguri</option>
            </select>
          </div>

          <div class="form-group">
            <label for="policeStationPart" class="text-muted mb-1"><small>Select Police Station</small></label>
            <select id="policeStationPart" class="form-control form-control-lg" name="policeStation" form="createBatch-form">
              
            </select>
          </div>

          <div class="form-group">
            <label for="postOfficePart" class="text-muted mb-1"><small>Select Post Office</small></label>
            <select id="postOfficePart" class="form-control form-control-lg" name="postOffice" form="createBatch-form">
              
            </select>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Search Home-tutor</button>
      </form>
    </div>
  </div>
  <div class="col" ></div>
</div>


  <%- include('includes/footer') %>