<hr>
<div class="footer m-4 pb-4">
  <div class="row">
    <div class="col-md-4" >
    <p><a href="">Contuct us</a></p>
    <p><a href="">About us</a></p>
    <p><a href="">Help</a></p>

    </div>
    <div class="col-md-4" >
      <p><a href="">Terms</a></p>
      <p><a href="">Privacy policy</a></p>  
    </div>
    <div class="col-md-4 " >
      <p>
        <div class="form-control" style="border-radius: 4rem; width: 13rem;text-align: left;">
          <i class="fas fa-search"></i> Search here
        </div>
      <p>
      <span class="d-block " style="    margin-bottom: .5rem;">
        <span class="footer-icon"><i class="fab fa-facebook fa-lg"></i></span>
        <span class="footer-icon"><i class="fab fa-google-plus-square fa-lg"></i></span>
        <span class="footer-icon"><i class="fab fa-linkedin fa-lg"></i></span>
        <span class="footer-icon"><i class="fab fa-whatsapp-square fa-lg"></i></span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.svg" width="110" height="32" alt="">
      </a>
    </div>
    <div class="col-md-6">
      <div class="float-text " style="height: 100%;">
        <div style="display: flex;align-items: center;height: 100%;">
          © 2021 Uteach, Inc.
        </div>
      </div>
    </div>
  </div>
</div>