<div class="row">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-10" style="margin: 0;padding: 0;position: relative;">
    <img class="banner" src="/images/banner.jpg" alt="">
    <div class="banner-batch" >
      <h1>Seek To Learn</h1>
      <p>One step ahead to make the society batter.</p>
    </div>
    
    <div class="container mt-2 mb-2" style="padding: 0px;">
      <div class="path">
        <div class="row ">
          <div class="col-md-6" style="width: 100%;">
            <h5>Become a tuitor and make an impact on society.</h5>
            <div class="btn btn-primary"><i class="fas fa-user-plus"></i>&nbsp; Sign up an account</div>
            <hr class="visibleItemsOnCollapse">
          </div>
          
          <div class="col-md-6">
            <h5>Search home tuitors or batch tuitors in your area.</h5>
            <div class="btn btn-secondary"><i class="fas fa-search"></i>&nbsp; Search Teacher</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class=" item-container container mb-1" style="background-color:#f0f2f5 ;">
      <h5 class="bolder">Highest Rated Batch Teachers</h5>
      <div class="teacher-banner-container pb-2">
        
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/profile/profile-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,pabitra nagar</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/cover/cover-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/profile/profile-pranab.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Pranab Sinha</strong>
            <span class="d-block"><strong>Address : </strong> Darjeeling,siliguri</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/cover/cover-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/profile/profile-debarati.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Debarati Barman</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/cover/cover-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" item-container container mb-3" style="background-color:#f0f2f5 ;padding-top: 0;">
      <h5 class="bolder">High Rated Home Tuitors</h5>
      <div class="teacher-banner-container pb-2">
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/profile/profile-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,pabitra nagar</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/cover/cover-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/profile/profile-pranab.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Pranab Sinha</strong>
            <span class="d-block"><strong>Address : </strong> Darjeeling,siliguri</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/cover/cover-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/profile/profile-debarati.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Debarati Barman</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
        <div class="teacher-data">
          <img class="teacher-image"  src="/images/cover/cover-sohag.jpg" alt="">
          <div class="text-left" style="padding-bottom: 5px;padding-left: 2px;">
            <strong class="d-block">Sohag Roy</strong>
            <span class="d-block"><strong>Address : </strong> Siliguri,champasari</span>
            <div class="text-warning">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i style="color: rgb(46, 44, 44);">4.5 (20)</i>
            </div>
            <div class="class btn btn-primary btn-sm">
              Get Details
            </div>
          </div>
        </div>
      </div>
    </div>
      

      <div class=" item-container container mb-3" >
        <strong>Home Tuition Teachers</strong>
        <div class="teacher-banner-container">
          <div class="teacher-data">
            Sohag Roy
          </div>
          <div class="teacher-data">
            Sohag Roy
          </div>
          <div class="teacher-data">
            Sohag Roy
          </div>
          <div class="teacher-data">
            Sohag Roy
          </div>
          <div class="teacher-data">
            Sohag Roy
          </div>
          <div class="teacher-data">
            Sohag Roy
          </div>
          <div class="teacher-data">
            Sohag Roy
          </div>
        </div>
      </div>
    
  </div>
  <div class="col-lg-1"></div>
</div>